.navbar{
    width: 100vw;
    height: 70px;
    background-color: rgb(255, 255, 255);
    
    
    

    .nav-container{
        padding-left:20px;
        padding-right:20px;

        width: 100vw;
        display: flex;
        justify-content:space-between;
        background-color:rgb(255, 255, 255);

        .nav-left{
            height:70px;
            background-color:rgb(255, 255, 255);
            
            

            img{
                
                height:70px;
                margin-top: 10px;
                margin-left: 10px;
            }
        }

        .nav-center{
           
            background-color: rgb(255, 255, 255);
            height:70px;
            padding-top: 20px;
            padding-right:50px;
            
            
            
          
            display: flex;
           
          
      

            .searchbar{
                margin-left:20px;
                width: 550px;
                height: 35px;
                text-align:center;
                color: grey;
                border-radius: 5px 0px 0px 5px;
                border: 1px solid rgb(141, 142, 144);
                
            }
            .btn{
                width: 100px;
                height: 35px;
                background-color: rgb(17, 129, 221);
                border: 0px;
                border-radius:0px 5px 5px 0px;
                color: white;
                cursor: pointer;

            }
        }
        
        .navright{
           
           padding-right:20px;
          
          
            
            background-color: rgb(255, 255, 255);
            
            height:70px;
            display: flex;
          
            justify-content:space-between;
            
          
        

            .notify-icon{
                font-size: 1.7rem;
                margin: 25px 30px 25px 30px ;
              
                color: rgb(158, 156, 156);
               
            }

            p{
                font-size: 1rem;
                margin: 30px 30px 25px 20px ;
              
                color: rgb(158, 156, 156);
                
            }
            h4{
                margin: 30px 30px 25px 25px ;
                font-weight: 300;
                font-family: sans-serif;
               
            }
            .cart-icon{
                font-size: 1.5rem;
                margin: 27px 30px 25px 25px ;
              
                color: rgb(158, 156, 156);
                
                
            }
            .account-btn{
                
                
               width: 50px;
               height: 50px;
                border-radius: 50%;
                background-color: rgb(44, 42, 42);
                color: white;
                margin: 10px 0px 0px 30px;
                margin-right:20px;

            }
        }
    }
    
}